.historical-context-overlay {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.context-content {
  font-family: Arial, sans-serif;
}

.context-content h2 {
  margin-top: 0;
}

#close-overlay {
  background: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#close-overlay:hover {
  background: #c9302c;
}
